In [28]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [29]:
load_dotenv()
username = os.getenv('USER')
password = os.getenv('PASSWORD')

Connect with the Postgre DB

In [30]:
DATABASE_URL = f"postgresql://{username}:{password}@localhost:5432/elevator"
engine = create_engine(DATABASE_URL)

# Extrair os dados das tabelas
calls_query = "SELECT * FROM elevator_calls"
status_query = "SELECT * FROM elevator_status"

calls_df = pd.read_sql(calls_query, engine)
status_df = pd.read_sql(status_query, engine)

In [31]:
calls_df

       id  floor_called                        timestamp
0       1             5 2024-07-23 06:10:21.394220+00:00
1       2            13 2024-07-23 20:56:52.876259+00:00
2       3            15 2024-07-23 20:02:56.370314+00:00
3       4            23 2024-07-23 19:20:03.454307+00:00
4       5            19 2024-07-23 08:45:01.857151+00:00
..    ...           ...                              ...
995   997             0 2024-07-23 03:44:54.159484+00:00
996   998            21 2024-07-23 22:18:18.227772+00:00
997   999             0 2024-07-23 04:18:52.178046+00:00
998  1000             9 2024-07-23 07:03:59.507744+00:00
999  1001            16 2024-07-23 00:59:33.362372+00:00

[1000 rows x 3 columns]

In [32]:
status_df

       id  current_floor  is_vacant                        timestamp
0       1             26      False 2024-07-23 06:10:21.394220+00:00
1       2             18       True 2024-07-23 20:56:52.876259+00:00
2       3             24       True 2024-07-23 20:02:56.370314+00:00
3       4             27      False 2024-07-23 19:20:03.454307+00:00
4       5             18       True 2024-07-23 08:45:01.857151+00:00
..    ...            ...        ...                              ...
995   996              2      False 2024-07-23 03:44:54.159484+00:00
996   997             18      False 2024-07-23 22:18:18.227772+00:00
997   998             27      False 2024-07-23 04:18:52.178046+00:00
998   999             11      False 2024-07-23 07:03:59.507744+00:00
999  1000              5      False 2024-07-23 00:59:33.362372+00:00

[1000 rows x 4 columns]

In [33]:
data = pd.concat([calls_df, status_df], axis=1)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   int64
 1   floor_called   1000 non-null   int64
 2   timestamp      1000 non-null   datetime64[ns, UTC]
 3   id             1000 non-null   int64
 4   current_floor  1000 non-null   int64
 5   is_vacant      1000 non-null   bool
 6   timestamp      1000 non-null   datetime64[ns, UTC]
dtypes: bool(1), datetime64[ns, UTC](2), int64(4)
memory usage: 48.0 KB

In [35]:
data.head()

,id,floor_called,timestamp,id,current_floor,is_vacant,timestamp
0,1,5,2024-07-23 06:10:21.394220+00:00,1,26,False,2024-07-23 06:10:21.394220+00:00
1,2,13,2024-07-23 20:56:52.876259+00:00,2,18,True,2024-07-23 20:56:52.876259+00:00
2,3,15,2024-07-23 20:02:56.370314+00:00,3,24,True,2024-07-23 20:02:56.370314+00:00
3,4,23,2024-07-23 19:20:03.454307+00:00,4,27,False,2024-07-23 19:20:03.454307+00:00
4,5,19,2024-07-23 08:45:01.857151+00:00,5,18,True,2024-07-23 08:45:01.857151+00:00

In [36]:
# Clear the id and timestamp repeated columns.
# I choose to clear the timestamp same with different time, because i thought more important know the status of the elevator when requested.
df_concat = data.loc[:, ~data.columns.duplicated()]

In [37]:
df_concat

,id,floor_called,timestamp,current_floor,is_vacant
0,1,5,2024-07-23 06:10:21.394220+00:00,26,False
1,2,13,2024-07-23 20:56:52.876259+00:00,18,True
2,3,15,2024-07-23 20:02:56.370314+00:00,24,True
3,4,23,2024-07-23 19:20:03.454307+00:00,27,False
4,5,19,2024-07-23 08:45:01.857151+00:00,18,True
...,...,...,...,...,...
995,997,0,2024-07-23 03:44:54.159484+00:00,2,False
996,998,21,2024-07-23 22:18:18.227772+00:00,18,False
997,999,0,2024-07-23 04:18:52.178046+00:00,27,False
998,1000,9,2024-07-23 07:03:59.507744+00:00,11,False
999,1001,16,2024-07-23 00:59:33.362372+00:00,5,False

In [ ]:
df_concat['timestamp'] = pd.to_datetime(df_concat['timestamp'], errors='coerce')

In [ ]:
# Feature engineering, to have more options for train the AI, and possibility to drop when not needed.
df_concat['hour'] = df_concat['timestamp'].dt.strftime('%H.%M')
df_concat['day_of_week'] = df_concat['timestamp'].dt.dayofweek
df_concat['month'] = df_concat['timestamp'].dt.month
df_concat['floor_diff'] = df_concat['floor_called'] - df_concat['current_floor']

In [40]:
df_concat

,id,floor_called,timestamp,current_floor,is_vacant,hour,day_of_week,month,floor_diff
0,1,5,2024-07-23 06:10:21.394220+00:00,26,False,06.10,1,7,-21
1,2,13,2024-07-23 20:56:52.876259+00:00,18,True,20.56,1,7,-5
2,3,15,2024-07-23 20:02:56.370314+00:00,24,True,20.02,1,7,-9
3,4,23,2024-07-23 19:20:03.454307+00:00,27,False,19.20,1,7,-4
4,5,19,2024-07-23 08:45:01.857151+00:00,18,True,08.45,1,7,1
...,...,...,...,...,...,...,...,...,...
995,997,0,2024-07-23 03:44:54.159484+00:00,2,False,03.44,1,7,-2
996,998,21,2024-07-23 22:18:18.227772+00:00,18,False,22.18,1,7,3
997,999,0,2024-07-23 04:18:52.178046+00:00,27,False,04.18,1,7,-27
998,1000,9,2024-07-23 07:03:59.507744+00:00,11,False,07.03,1,7,-2
999,1001,16,2024-07-23 00:59:33.362372+00:00,5,False,00.59,1,7,11

In [41]:
# Save the data in a suitable version, to test AI models.
df_concat.to_csv('elevator_data.csv', index=False)